<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MBAC Nationals 2014 :: Winnipeg :: @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap/base")
    @Styles.Render("~/Content/bootstrap/theme")
</head>
<body>
    <div class="container" data-ng-app="app">

        <div class="masthead">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h3 class="text-muted">MBAC Nationals 2014 - Winnipeg</h3>
                </div>
                <div class="col-xs-6 col-md-4">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>            
            
            @Html.Partial("_AdminMenuPartial")
        </div>

        @RenderBody()

        <!-- Site footer -->
        <div class="footer">
            <p>&copy; <a href="http://gcsquared.com/">GC2</a> @System.DateTime.Now.Year</p>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
